/*
 resetting items back to a consistent baseline */
 h1, h2, p{
 	margin: 0;
 	padding: 0;
 }

/*Style body with fixed image background, background image will
resize to fill width of window.*/
body {
	font-size: 100%;
	margin: 0;	
}

div#body_background { 
    /* to have background image stay stationary on mobile safari
    I have to wrap entire body ina div, with a background.*/
	/* background image copyright clancopter.com 2013 */
	background-image: url('..//img//background_900.jpg');
	background-size: 100%;
	/* had to disable below for ipad */
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
	z-index: -10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 300%;
}

/* ipad with retina screen, or large browser window */
/* only load larger image for devices that require it*/
@media only screen 
and (min-width : 768px) {
/*and (-webkit-min-device-pixel-ratio: 2) {*/
  div#body_background { 
	background-image: url('..//img//background_1500.jpg');
  }
}

/* utility classes to apply generic formats */
.vertical_centre {
	vertical-align: middle;
}

/*Header navigation bar*/
header nav {
	text-align: right;
	background-color: #555555;
	opacity: 0.5;
	z-index: 10; /* Make sure the nav bar is on top of all other elements */
}

.fixed {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
}

nav ul {
	list-style-type: none;
	display: inline-table;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline;
	margin-right: 10px;
	font-family: 'Roboto Slab', serif;
}

nav ul li a {
	text-decoration: none;
	color: white;
	display: inline;
}

nav ul li a:hover {
	color: #d89832;
}

/*CSS Dropdowns inspired by 
http://line25.com/tutorials/how-to-create-a-pure-css-dropdown-menu

Added on recommendation of Ryan
*/

nav ul ul {
	display: none;
	position: absolute;
	top: 100%;
	text-align: left;
}

nav ul li:hover > ul {
	display: block;
	position: absolute;
}

nav ul ul li {
	display: block;
	float: none;
	background-color: #555555;
	padding-left: 10px;
	padding-right: 10px;
}
/* end of drop down styling */

header {
	color: white;
	font-family: 'Ubuntu Mono', sans-serif;
	text-align: center;
}

header h1 {
	font-size: 600%;
	letter-spacing: 25px;
	text-transform: uppercase;
}

div.topic_head {
	margin-top: 50px;
	height: 150px; /* same height as .topic_head img */
}

.topic_head {
	text-align: left;
}

.topic_head h1, .topic_head a {
	margin-left: 10%;
	letter-spacing: 0px;
}

.topic_head a, .topic_head a:visited {
	text-decoration: none;
	color: white;
	font-size: 200%;
	text-transform: uppercase;
}

.topic_head img {
	opacity: 0.9;
	width: 150px;
	height: 150px; /*same height as div.topic_head */
	float: right;
	margin-right: 10%;

}

header p {
	font-size: 150%;
	letter-spacing: 7px;
	text-transform: uppercase;
	color: #d39532;
}

section#main {
	margin-top: 80px;
}

section#main nav.grid {
	font-family: 'Ubuntu Mono', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 180%;
	text-shadow: 2px 2px #333333;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

/* Navigation grid items*/
section#main nav div {
	width: 166px;
	display: inline-block;
	margin: 30px;
	vertical-align: top;
}

/* animation / rotation effects */
nav.grid a {
	transition: transform 0.5s;
	-webkit-transition: -webkit-transform 0.5s;
}

nav.grid a.rright:hover {
	transform: rotate(5deg);
	-ms-transform: rotate(5deg); /*ie */
	-webkit-transform: rotate(5deg); /* chrome / safari */
}

nav.grid a.rleft:hover {
	transform: rotate(-5deg);
	-ms-transform: rotate(-5deg); /*ie */
	-webkit-transform: rotate(-5deg); /* chrome / safari */
}

/* make sure links look the same whether visited or not */
section#main nav div a, section#main nav div a:visited {
	text-decoration: none;
	color: white;
	display: block;
	height: 280px;
}

/* Internal navigation bar */
nav.internal_nav {
	color: black;
	margin-bottom: 10px;
}

nav.internal_nav li a{
	color: black;
}

/* Minor Sections */
.sub_info {
	background: rgba(221,205,192,.9);
	border-radius: 20px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 40px;
	padding-top: 20px;
	font-family: 'Raleway', sans-serif;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.sub_info p {
	text-indent: 15px;
}

.sub_info h1 {
	width: 40%;
	font-size: 200%;
	background-color: #d89832;
	padding-left: 15px;
	border-radius: 10px;
	margin-left: -7%
}

.sub_info ul.info_list>li {
	display: block;
	margin-bottom: 5px;
	overflow: auto;
	min-height: 150px;
	/*clear: both;*/
}

div.mediawithcaption {
	position: relative;
	width: 250px;
	border: solid gray 1px;
}

div.mediawithcaption>p {
	font-size: 70%;
	text-align: center;

}

div.mediawithcaption.right {
	float: right;
	margin-left: 10px;
}

div.mediawithcaption.left {
	float: left;
	margin-right: 10px;
}

.note {
	background-color: #ece027;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 15px;
	padding: 10px;
	border-top: solid red 5px;
	border-bottom: solid red 5px;
	border-radius: 10px;
	transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
	box-shadow: 1px 1px 4px black;
}

.note b {
	color: red;
}

aside.further_reading {
	border: dotted black 1px;
	border-radius: 5px;
	margin-top: 15px;
}

footer {
	/* using rgba for bg color as oppsed to opacity so I can 
		keep the text fully opaque */
	background-color: rgba(85,85,85,0.5);
	font-size: 70%;
	margin-top: 35px;
	text-align: center;
	color: white;
	padding-left: 10%;
	padding-right: 10%;
}

/* make video previews look nice */
.embed_video {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}

/* shrink caption text after embedded vids */
.embed_video>iframe+p {
	font-size: 70%;
} 

/* gossary specific styles */
#glossary ul {
	list-style-type: none;
}

#glossary ul>li {
	margin-bottom: 25px;
}

p.word {
	font-size: 120%;
	font-style: italic;
}

p.definition {
	text-indent: 2em;
}